<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.inng.hope.dao.MemberDao"> 

  
    <!-- 获取用户集合 -->
    <select id="getList" resultType="user"> 
      select m.id,
      		 m.name,
      		 m.card_id,
      		 m.mobile,
      		 m.balance,
      		 m.reg_time,
      		 u.username 
      		 from member as m 
      		 left join user as u 
      		 on u.id=m.user_id 
      		 where 1=1 
      		 <if test="searchType==0">
      		     and card_id=#{searchValue} 
      		 </if>
      		 
      		 <if test="searchType==1">
      		     and name=#{searchValue} 
      		 </if>
      		 
      		 <if test="searchType==2">
      		     and mobile=#{searchValue} 
      		 </if>
      		 
      		 <if test="searchType==3">
      		     and reg_time like %'=#{searchValue}'% 
      		 </if>
      		 order by reg_time desc 
      		 limit #{pagination},#{pageSize}
      
    </select> 
    
     <!-- 获取用户数量count -->
    <select id="count" resultType="Integer"> 
       select count(member.id) from member 
      		 			  left join user
      		 			  on user.id=member.user_id 
      		 			  where 1=1 
      		 <if test="searchType==0">
      		     and member.card_id=#{searchValue} 
      		 </if>
      		 
      		 <if test="searchType==1">
      		     and member.name=#{searchValue} 
      		 </if>
      		 
      		 <if test="searchType==2">
      		     and member.mobile=#{searchValue} 
      		 </if>
      		 
      		 <if test="searchType==3">
      		     and member.reg_time like %'=#{searchValue}'% 
      		 </if>
      		 order by member.reg_time desc 
      		 limit #{pagination},#{pageSize}
    </select> 
 
    
    <!-- 登录 -->
    <select id="login" parameterType="user" resultType="user"> 
        select id,userName,password,reg_time from user where userName = #{userName} and password = #{password}
    </select>
    
    <!-- 修改密码 -->
    <update id="changePassword">
         update user set password = #{newPassword} where password=#{oldPassword} and id=#{id}
    </update>
    
    <!-- 删除用户 -->
   	<delete id="delUserById" parameterType="Integer">
   	    delete from user where id=#{id}
   	</delete>
   	
   	<insert id="addUser" parameterType="User">
   	    insert into user set userName = #{userName}, password = #{password} , reg_time =#{reg_time}
   	</insert>
</mapper>